@model SportStore.Application.Products.Queries.ProductPageVM

@{
    ViewData["Title"] = "ProductList";
}
@foreach (var product in Model.Products)
{
   @await Html.PartialAsync("ProductCard", product);
}

<div page-info="@Model.PageInfo" page-action ="Products" page-classes-enabled ="true" page-class="btn" page-class-normal ="btn-secondary"
     page-class-selected ="btn-primary" page-url-currentCategory="@Model.CurrentCategory" class ="btn-group float-right m-1"></div>
